<!DOCTYPE html>
<html lang="en">
	
	
	
	
<head>
	<title>Pi-Mail | Inbox</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">	
	<link rel="icon" type="image/png" href="favicon.png"/>
    <link rel="stylesheet" type="text/css" href="static/style.css">
</head>






<body>	
	<div class="limiter">
		<div class="container-spam100" style=" background-color: #505451; ">
			<div class="wrap-spam100">

                <!--Main Headline-->

				<form  class="spam100-form" >
                <center>
					<span class="spam100-form-title">
						InBox Messages
					</span>	
				</center>			
				</form>	

                <!--Non Spam Messages Table-->

				<form  class="spam100-form" >
					<center>
					<div class="warp-text100">
						<span class="txt1" >
							Non Spam Messages
						</span>	 
					</div>
					<div class="wrap-output100" data-validate = "spam-output is required">
						<ul class="txt1" id="non-spam">
                                                   
                                                </ul>
                    </center>
                </form>

               <!--Spam Messages Table-->

                <form  class="spam100-form" >	
                    <center>				
					<div class="warp-text100">
						<span class="txt1">
							Spam Messages
						</span>	
					</div>
					<div class="wrap-output100" data-validate = "spam-output is required">
						<ul class="txt1" id="spam">
                                                    
                                                </ul>
					</div>                
                    </center>
                </form>    

                    <!--Back Button-->

                     <div class="container-spam100-form-btn">
						<div class="spam100-form-btn">

							<a href="Home.html" 
							style="font-family:'Prompt', sans-serif;
							font-size: 26px; 
							color: #fff;
							background:transparent;
							height:100%;
							text-decoration:none;
							text-align: center;
							width: 100%;
							padding-top:8px;
							padding-bottom:-5px;">Back</a>

						</div>
					</div>

	      <!--Refresh line-->	<br>
					<br>
					
					<div class="container-spam100-form-btn">
						<div class="spam100-form-btn">

							<button  onclick="Rfs()"
							style="font-family:'Prompt', sans-serif;
							font-size: 26px; 
							color: #fff;
							background:transparent;
							height:100%;
							text-decoration:none;
							text-align: center;
							width: 100%;
							padding-top:8px;
							padding-bottom:-1px;">Refresh</button>

						</div>
					</div>
					
					
					
                     <!--Credit line-->

                    <center>
                    <div class="warp-text100">
						<span class="txt1">
							Final Year Project | ASET | AUR 2021 
						</span>
					</div>
					</center>


	
			</div>
		</div>
	</div>
		
		
<script>
	
function Rfs() {
  console.log("Updating.....!!");
  var mylist1 = document.createElement("LI");
  var blank1 = document.createElement("HR");
  mylist1.innerHTML = localStorage.getItem('spam');
  mylist1.classList.add('txt1');
  blank1.classList.add('new4');
  document.getElementById("spam").appendChild(mylist1);
  document.getElementById("spam").appendChild(blank1);
  localStorage.clear();
}
</script>

		
		
</body>
</html>
