<!DOCTYPE html>
<html lang="en">
<head>

	<title>Pi-Mail | Home</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">	
	<link rel="icon" type="image/png" href="favicon.png"/>
    <link rel="stylesheet" type="text/css" href="static/style.css">

</head>

<body>
	
	<div class="limiter">
		<div class="container-spam100" style="background-image: url('background.png'); background-color: #505451;">
			<div class="wrap-spam100">
				<form class="spam100-form" >

                <center>

					<span class="spam100-form-title">
						Pi-Mail
					</span>
                    
                    <br>
                    <br>
				
                    <div class="container-spam100-form-btn">
						<div class="spam100-form-btn">

                            <a href="Send.html" target="_blank"
							style="font-family:'Prompt', sans-serif;
							font-size: 26px; 
							color: #fff;
							background:transparent;
							height:100%;
							text-decoration:none;
							text-align: center;
							width: 100%;
							padding-top:8px;
							padding-bottom:-5px;">Send Message</a>


						</div>
					</div>

                    <br>
                    <br>


					 <div class="container-spam100-form-btn">
						<div class="spam100-form-btn">

							<a href="Box.html" target="_blank"
							style="font-family:'Prompt', sans-serif;
							font-size: 26px; 
							color: #fff;
							background:transparent;
							height:100%;
							text-decoration:none;
							text-align: center;
							width: 100%;
							padding-top:8px;
							padding-bottom:-5px;">Received Messages</a>

						</div>
					</div>

					<br>
					<br>
		
                    <div class="warp-text100">
						<span class="txt1">
							Final Year Project | ASET | AUR 2021 
						</span>
					</div>

                </center>

				</form>
			</div>
		</div>
	</div>

</body>
</html>
