<!DOCTYPE html>
<html lang="en">
<head>

	<title>Pi-Mail | Send</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">	
	<link rel="icon" type="image/png" href="favicon.png"/>
    <link rel="stylesheet" type="text/css" href="static/style.css">

</head>

<body>
	
	<div class="limiter">
		<div class="container-spam100" style="background-image: url('background.png'); background-color: #505451;">
			<div class="wrap-spam100">
				<form action="{{ url_for('predict')}}" method="POST" class="spam100-form" >

                <center>

					<span class="spam100-form-title">
						Spam Mail Filter 
					</span>

					<div class="warp-text100">
						<span class="txt1">
							To
						</span>
					</div>

					<div class="wrap-input100" data-validate = "spam-filter is required">
						<input class="input100" type="text" id="inputmessage" required="" placeholder="Enter Your Name">
						<span class="focus-input100"></span>
					</div>
					
					<div class="warp-text100">
						<span class="txt1">
							Put Your Message
						</span>
					</div>

					<div class="wrap-input100" data-validate = "spam-filter is required">
						<input class="input100" type="text" id="inputmessage" name="message" required="" placeholder="Enter Your Message">
						<span class="focus-input100"></span>
					</div>
					

                    <div class="container-spam100-form-btn">
						<div class="spam100-form-btn">
							<input type="Submit" value="Send" 
							style="font-family:'Prompt', sans-serif;
							font-size: 26px; 
							color: #fff;
							background:transparent;
							height:100%;
							width: 100%">
						</div>
					</div>


					<div class="wrap-output100" data-validate = "spam-output is required">
						<button class="output100" disabled=""></button>
						
						{% if prediction == 1%}
		
						<p class="output100" id="spam" disabled="" style="color: red;"></p>
						<script>spam();</script>
						<button class="output100" disabled="" style="color: red;">This is a Spam Message!</button>
						
						{% elif prediction == 0%}
						
						<p class="output100" id="non-spam" disabled="" style="color: green;"></p>
						<script>nonspam();</script>
						<button class="output100" disabled="" style="color: green;">This is a Safe Message</button>
						
						{% endif %}
					</div>
                

                    <div class="container-spam100-form-btn">
						<div class="spam100-form-btn">

							<a href="Home.html" 
							style="font-family:'Prompt', sans-serif;
							font-size: 26px; 
							color: #fff;
							background:transparent;
							height:100%;
							text-decoration:none;
							text-align: center;
							width: 100%;
							padding-top:8px;
							padding-bottom:-5px;">Back</a>

						</div>
					</div>



                    <div class="warp-text100">
						<span class="txt1">
							Final Year Project | ASET | AUR 2021 
						</span>
					</div>

                </center>

				</form>
			</div>
		</div>
	</div>
	
        <script type="text/javascript">
	
		function spam()
		{
		var b = document.getElementById('inputmessage').value
                document.getElementById('spam').innerHTML = b;
		}
		
		function nonspam()
		{
		var b = document.getElementById('inputmessage').value
                document.getElementById('non-spam').innerHTML = b;
		}
	
		
	</script>
	
</body>
</html>
